include ../../common/pug/_mixins.pug

section.main
    div.container
        
        div.breadcrumbs
            a(href="index.html") Главная 
            span.divide - 
            span Наши туры

        h1 Воспользуйтесь подбором и найдите ваш тур

        div.filter
            div.direction
                +select('directions', 'Направление', 'Городская прогулка', 'Исторический обзор', 'Культурное погружение', 'Архитектурный тур', 'Экскурсия на пляж', 'Ночная прогулка', 'Гастрономический тур', 'Природный заповедник', 'Музейный маршрут', 'Круиз по реке')
            div.first_date
                +datepicker('Дата от')
            div.last_date
                +datepicker('Дата до')
            div.transport
                span.note Тип транспорта
                +select('transport', '', 'Любой', 'Самолет', 'Поезд', 'Автобус')
            div.type
                span.note Тип тура
                +select('type', '', 'Любой', 'Краткосрочный', 'Среднесрочный', 'Долгосрочный')
            div.adult
                div.quantity
                    div.minus
                        include ../../../images/quantity_minus.svg
                    span.note Взрослых:
                    input(type="number", min="0", max="9", onchange="this.value > 0 ? this.parentNode.classList.add('show') : this.parentNode.classList.remove('show')")
                    div.plus
                        include ../../../images/quantity_plus.svg
            div.benefit
                div.quantity
                    div.minus
                        include ../../../images/quantity_minus.svg
                    span.note Льготных:
                    input(type="number", min="0", max="9", onchange="this.value > 0 ? this.parentNode.classList.add('show') : this.parentNode.classList.remove('show')")
                    div.plus
                        include ../../../images/quantity_plus.svg

            div.button
                button Найти тур

        div.dates.tabs
            div.monthes
                span.note Месяц:
                div.tabs_captions.dragdrop
                    div.tab_caption.opened Январь 2025
                    div.tab_caption Февраль 2025
                    div.tab_caption Март 2025
                    div.tab_caption Апрель 2025
                    div.tab_caption Май 2025
                    div.tab_caption Июнь 2025
                    div.tab_caption Июль 2025
                    div.tab_caption Август 2025
                    div.tab_caption Сентябрь 2025
                    div.tab_caption Октябрь 2025
                    div.tab_caption Ноябрь 2025
                    div.tab_caption Декабрь 2025
            div.days.tabs_contents
                span.note Дата:
                -for(x=0;x<12;x++)
                    div(class= x === 0 ? 'opened' : null).tab_content
                        div.swiper
                            div.swiper-wrapper
                                div.swiper-slide 01.0!{x+1} сб
                                div.swiper-slide 02.0!{x+1} вс
                                div.swiper-slide 03.0!{x+1} пн
                                div.swiper-slide 04.0!{x+1} вт
                                div.swiper-slide 05.0!{x+1} ср
                                div.swiper-slide 06.0!{x+1} чт
                                div.swiper-slide 07.0!{x+1} пт
                                div.swiper-slide 08.0!{x+1} сб
                                div.swiper-slide 09.0!{x+1} вс
                                div.swiper-slide 10.0!{x+1} вс
                                div.swiper-slide 11.0!{x+1} сб
                                div.swiper-slide 12.0!{x+1} вс
                                div.swiper-slide 13.0!{x+1} пн
                                div.swiper-slide 14.0!{x+1} вт
                                div.swiper-slide 15.0!{x+1} ср
                                div.swiper-slide 16.0!{x+1} чт
                                div.swiper-slide 17.0!{x+1} пт
                                div.swiper-slide 18.0!{x+1} сб
                                div.swiper-slide 19.0!{x+1} вс
                                div.swiper-slide 20.0!{x+1} пн
                                div.swiper-slide 21.0!{x+1} вт
                                div.swiper-slide 22.0!{x+1} ср
                                div.swiper-slide 23.0!{x+1} чт
                                div.swiper-slide 24.0!{x+1} пт
                                div.swiper-slide 25.0!{x+1} сб
                                div.swiper-slide 26.0!{x+1} вс
                                div.swiper-slide 27.0!{x+1} пн
                                div.swiper-slide 28.0!{x+1} вт
                                div.swiper-slide 29.0!{x+1} ср
                                div.swiper-slide 30.0!{x+1} чт
                                div.swiper-slide 31.0!{x+1} пт
                        div.swiper-scrollbar
                        div.swiper-navigation
                            div.arrow
                                include ../../../images/swiper_arrow.svg
                            div.arrow
                                include ../../../images/swiper_arrow.svg